.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.authForm {
  background: #fff;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.authForm div {
  margin-bottom: 15px;
}

.authForm label {
  display: block;
  margin-bottom: 5px;
}

.authForm input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.authForm button {
  background-color: #2a2f35;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.authForm button:hover {
  background-color: #444a50;
  transform: translateY(-2px);
}

.authForm button:active {
  transform: scale(0.98);
  background-color: #1e2328;
  transition: transform 0.1s ease;
}

.authForm a {
  color: #2a2f35;
  text-decoration: none;
}

.authForm a:hover {
  text-decoration: underline;
}

p {
  margin-top: 10px;
}

.registerButton {
  width: fit-content;
  font-size: medium;
  flex: 1;
  text-align: center;
  height: 3rem;
}

.goToLogin {
  width: 60%;
  font-size: small;
  border: #2a2f35 solid 1px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.1s ease;
  flex: 1;
  height: 3rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goToLogin:hover {
  background-color: #aeb2b6;
  transform: translateY(-2px);
}

.goToLogin:active {
  transform: scale(0.98);
  background-color: #1e2328;
  transition: transform 0.1s ease;
}

.buttonsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.authForm input,
.authForm button,
.authForm label,
.authContainer {
  font-family: 'Roboto', sans-serif;
}

.langButton {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
}

.langButton img {
  width: fit-content;
}
