.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.auth-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.auth-form div {
  margin-bottom: 15px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-form button {
  background-color: #2a2f35;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.auth-form button:hover {
  background-color: #444a50;
  transform: translateY(-2px);
}

.auth-form button:active {
  transform: scale(0.98);
  background-color: #1e2328;
  transition: transform 0.1s ease;
}

.auth-form a {
  color: #2a2f35;
  text-decoration: none;
  margin-left: 150px;
}

.auth-form a:hover {
  text-decoration: underline;
}

p {
  margin-top: 10px;
}

.register-button {
  width: 50%;
  font-size: medium;
}

.go-to-login{
  width: 50%;
  font-size: medium;
  border: #2a2f35 solid 1px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.go-to-login:hover {
  background-color: #aeb2b6;
  transform: translateY(-2px);
}

.go-to-login:active {
  transform: scale(0.98);
  background-color: #1e2328;
  transition: transform 0.1s ease;
}

.buttons-box{
  display: flex;
}
body {
  font-family: 'Roboto', sans-serif;
}

.auth-form input,
.auth-form button,
.auth-form label,
.auth-container {
  font-family: 'Roboto', sans-serif;
}
