.overlayContainerCurrentStream {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    background-color: transparent;
}

.stickerInCurrentStream {
    position: absolute;
    transform: translate(0, -100%);
}
