.sticker-location-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #f2f2f2;
  overflow: hidden;
  border: 2px solid black;
}

.draggable-sticker {
  cursor: grab;
  position: absolute;
  transform: translate(0, -100%);
}

.draggable-sticker:active {
  cursor: grabbing;
}

.save-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.save-button:hover {
  background: darkgreen;
}
