/* pc */
@media (min-width: 1440px) {
    .container {
        justify-content: flex-start;
    }

    .sticker {
        width: 40vw;
        height: 40vh;
        object-fit: contain;
        margin: 0;
    }

    .sticker-info {
        margin-left: 10vw;
        display: flex;
        flex-direction: row;
        gap: 5vw;
    }

    h2 {
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
}

/* mobil */
@media (max-width: 1440px) {
    .container {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .sticker {
        width: 90vw;
        height: auto;
        max-height: 50vh;
        object-fit: contain;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sticker-info {
        margin-left: 10vw;
        text-align: left;
        align-self: flex-start;
        width: 100%;
        padding: 1vh 0;
        display: flex;
        flex-direction: row;
        gap: 10vw;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}