.container {
  width: 100vw;
}

.admin-block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ccc; /* Default background color */
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}
